.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section {
  animation: fadeIn 2s;
}

/* Testing responsiveness*/
@media (max-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }
}
